.A {
    background: rgb(122, 224, 122);
}

.T {
    background: rgb(233, 114, 114);
}

.C {
    background: rgb(110, 110, 223);
}

.G {
    background: rgb(205, 91, 205);
}
.dot {
    color: rgb(95, 95, 95)
}

.cell {
    width: 14px    
}

.cell-off-screen {
    display: none;
}

.cell-on-screen {
    display: table-cell;
}

.highlighted {
    background: rgb(255, 255, 0);
}
.name-table {
    margin-right: 10px;
}

.content-table {
    table-layout: fixed;
}
.content-table td {
    min-width: 14px;
}

.phylip-content-view {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: inherit;
}

.unselectable {
    user-select: none;
    color: #000000;
}

.scrollbars {
    height: 90%;
}