.A {
    background: rgb(122, 224, 122);
}

.T {
    background: rgb(233, 114, 114);
}

.C {
    background: rgb(110, 110, 223);
}

.G {
    background: rgb(205, 91, 205);
}
.dot {
    color: rgb(95, 95, 95)
}

.cell {
    padding: 1px;
}

/* .unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #000000;
} */